extends ./templates/default.pug

block styles
  link(href='/public/css/buttons.css', rel='stylesheet')

block content 
  h2 INDEX
  div(v-scope='{ uri: "" }')
    form(action='/', method='POST')
      div
        | rss feed url:
        input(type='text', name='rss', v-model:value="uri" required)
      button(type='submit', class='btn pi', :disabled='uri.length ? false : true') Submit
    if errors
      each error in errors
        include ./partials/error.pug
  div
    if sites && sites.length 
      each site in sites
        include ./partials/site.pug 
    else 
      p You're not subscribed to any sites.